@use "../abstracts" as *;

.btn-s {
  @include rounded-corners(32px, 32px, 32px, 32px);
  border: none;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  color: white;
  width: fit-content;
  font-size: 1rem;
  letter-spacing: 2px;
  
}

.btn-l  {
  @extend .btn-s;
  width : 100%;
}

